.blockmenu {
  position: fixed;
  top: 0;
  width: 100vw;

  // для укороченного меню
  // width: 220px;
  height: 100%;
  background-color: @dark-brown;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
          align-items: center;
  padding-top: 135px;
  z-index: 1000;
  transition: all 0.3s;
  right: -100vw;
}

.blockmenu__item {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top: 40px;
    left: 0;
    width: 267px;
    height: 1px;
    background-color: #ffffff;
  }
  &:last-child:after {
    display: none;
  }
}

.blockmenu ul {
  list-style: none;
  padding: 0;
}

.blockmenu li {
  padding-bottom: 30px;
}

.blockmenu a {
  color: white;
  letter-spacing: 3px;
  font-size: 18px;
  text-decoration: none;
}

.blockmenu_active {
  transition: all 0.3s;
  right: 0;
}