.header-content {
	margin-top: 100px;
}

.logo-title-wrapper {
	width: 346px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-content__description {
	display: flex;
	justify-content: space-between;
	margin-top: 80px;
}

.header-content__title {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
    font-size: 48px;
    text-align: center;
    font-weight: 200;
    span {
    	opacity: 0.5;
    }
}

.header-content ul {
	margin: 0;
	padding: 0;
	padding-left: 125px;
	width: 572px;
	list-style-type: none;
	li {
		font-size: 13px;
		padding-bottom: 15px;
		&:first-child {
			margin-top: 50px;
		}
	}
}



// ul.header-content__description--item {
	
// 	}
// }