// /*==========  Mobile First  ==========*/


@media only screen and (max-width: 768px){ 
	nav#cd-vertical-nav {
		display: none;
	}

	.logo-title-wrapper {
		width: 100%;
	}

	.header-content__title {
		margin: 0 auto;
	}

	.logo-title-wrapper img{
		display: none;
	}

	.container {
		width: 280px;
	}
	.navigation,
	.phone,
	.cd-scroll-down__wrapper {
		display: none;
	}
}

@media (min-width: 769px) {
// @media (min-width: 769px) and (max-width: 992px) {
	.container {
		width: 700px;
	}
	nav#cd-vertical-nav {
		display: none;
	}
	.navigation {
		display: none;
	}
	.phone {
		display: none;
	}
	.cd-scroll-down__wrapper {
		display: none;
	}
	.menu-btn {
		display: none;
	}
}

// @media (min-width: 993px) and (max-width: 1440px) {
// @media (min-width: 992px) {
@media (min-width: 1200px) {
	section {
		background-image: linear-gradient(to right, rgba(71, 55, 52, 0.8), rgba(255, 255, 255, 0)), url(../img/fon-desctop.jpg);
	}
	.container {
		width: 900px;
	}
	nav#cd-vertical-nav {
		display: none;
	}
	.navigation {
		display: flex;
	}
	.phone {
		display: block;
	}
	.cd-scroll-down__wrapper {
		display: none;
	}
	.menu-btn {
		display: none;
	}
}

@media (min-width: 1440px) {
	section {
		background-image: linear-gradient(to right, rgba(71, 55, 52, 0.8), rgba(255, 255, 255, 0)), url(../img/fon-desctop.jpg);
	}
	.container {
		width: 1400px;
	}
	
	.navigation {
		display: flex;
	}
	.phone {
		display: block;
	}
	.menu-btn {
		display: block
	}
	.cd-scroll-down__wrapper {
		display: flex;
	}
}

// @media (min-width: 768px) {

		
// 	}
// 	@media (min-width: 1254px) {
// 		width: 460px;
// 		margin-left: 73px;
// 	}
