.dots-container {
	position: fixed;
	margin-top: 500px;
	display: flex;
	justify-content: space-between;
	transform: rotate(90deg);
	width: 265px;
    height: 18px;
    align-items: center;
}

.dot {
	width: 38px;
	height: 2px;
	background-color: #5e8fb1;
	position: relative;
	&:hover {
		border-radius: 10px;
	    height: 4px;
		background-color: #fff;
	}
}

.dot--active {
	border-radius: 10px;
    height: 4px;
	background-color: #fff;
}

.dot-title {
	color: transparent;
	position: absolute;
	// left: -20px;
 //    top: -68px;
	transform: rotate(-90deg);
	display: block;

	//для корректного отображения длины текста
	left: -105px;
    top: -150px;
	width: 250px;
	// background-color: red;
	//

	animation: fadeout 2s ease .2s;
	cursor: pointer;
	&:hover {
		color: #fff;
	}
}

.dot-title--active {
	color: #fff;
}

//
#fp-nav ul li a span, .fp-slidesNav ul li a span {
	background: #fff;
	z-index: 1000;
}

#fp-nav ul li a span, 
.fp-slidesNav ul li a span {
    // background: white;
    // width: 8px;
    // height: 8px;
    // margin: -4px 0 0 -4px;
    width: 38px;
	height: 2px;
	background-color: #5e8fb1;
}
      
#fp-nav ul li a.active span, 
.fp-slidesNav ul li a.active span, 
#fp-nav ul li:hover a.active span, 
.fp-slidesNav ul li:hover a.active span {
    // width: 16px;
    // height: 16px;
    // margin: -8px 0 0 -8px;
    // background: transparent;
    // box-sizing: border-box;
    // border: 1px solid #24221F;
     width: 38px;
	
    border-radius: 10px;
	    height: 4px;
		background-color: #fff;
}

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
	background-color: #fff;
}

#fp-nav ul li, .fp-slidesNav ul li {
	transform: rotate(90deg);
}

#fp-nav ul li, .fp-slidesNav ul li {
    
    margin-bottom: 32px;
}