.dots-container {
	margin-top: 150px;
	
	display: flex;
	justify-content: space-between;
	transform: rotate(90deg);
	width: 265px;
    height: 18px;
    align-items: center;
}

.dot {
	width: 38px;
	height: 2px;
	background-color: #5e8fb1;
}

.active {
	border-radius: 10px;
    height: 4px;
	background-color: #fff;
}