<!DOCTYPE html>
//- html(lang="en" class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths" )
html(lang="en" class=" no-touch" )
	include pages/_head
	body
		//- include pages/_vertical-menu1.pug
		//- include pages/_burger-menu.pug
		//- #fullpage
		include pages/_vertical-menu.pug
		section#products.cd-section
			a(href="#products")
			include pages/_navigation
			include pages/_header-content
			include pages/_burger-menu.pug
			<a href="#section2" class="cd-scroll-down cd-img-replace">scroll down</a>
			
		section#reglament.cd-section
			a(href="#reglament")
		section#experience.cd-section
			a(href="#experience")
		section#company.cd-section
			a(href="#company")
		section#mass-media.cd-section
			a(href="#mass-media")
		section#shop.cd-section
			a(href="#shop")
		//- include _quote
		//- include _club-desc
		//- include _shop
		//- include _article-01
		//- include _article-02
		//- include _subscribe
		//- include _camp
		//- include _footer
	include pages/_foot