<!DOCTYPE html>
html(lang="en")
	include pages/_head

	body
		//- h1 Привет
		header
			include pages/_navigation
			include pages/_header-content
			include pages/_vertical-menu.pug

		//- include _quote
		//- include _club-desc
		//- include _shop
		//- include _article-01
		//- include _article-02
		//- include _subscribe
		//- include _camp
		//- include _footer
		include pages/_foot