.numbers-animation
	.container
		.numbers-wrapper
			.number 
				.text Прирост урожая&nbsp;до 
				span#fun-level-1 0 %
			.number
				.text Экономия на минеральных удобрениях до
				span#fun-level-2 0 %
			.number
				.text Снижение расхода пестицидов до 
				span#fun-level-3 0 %
