//- //скрытое меню
.blockmenu
	//- .blockmenu-close
		//- img(src="img/popup-close.svg" alt="toggle")
	ul.menu
		li.blockmenu__item
			a(href="#products").blockmenu__link Продукты
		li.blockmenu__item
			a(href="#reglament").blockmenu__link Регламент применения
		li.blockmenu__item
			a(href="#experience").blockmenu__link Опыт
		li.blockmenu__item
			a(href="#company").blockmenu__link Компания
		li.blockmenu__item
			a(href="#mass-media").blockmenu__link СМИ о нас
		li.blockmenu__item
			a(href="#shop").blockmenu__link Магазин