//- //скрытое меню
.blockmenu
	.blockmenu-close
		//- img(src="img/popup-close.png" alt="toggle")
		img(src="img/popup-close.svg" alt="toggle")
	ul.menu
		li.navigation__item
			a(href="#products").navigation__link Продукты
		li.navigation__item
			a(href="#reglament").navigation__link Регламент применения
		li.navigation__item
			a(href="#").navigation__link Опыт
		li.navigation__item
			a(href="#").navigation__link Компания
		li.navigation__item
			a(href="#").navigation__link СМИ о нас
		li.navigation__item
			a(href="#").navigation__link Магазин