//- .header-content__description
.block.block1 Состав
	img.block_img.block1_img(src="img/12.png")
	ul
		li.block-list
			img(src="img/1.png" width="30px" height="30px" alt="leaves-image")
			span Элементы питания, включая микроэлементы в хелатной форме. Массовая доля питательных веществ %:
		li.block-list
			img(src="img/2.png" width="30px" height="30px" alt="leaves-image")
			span Гуминовые и фульвокислоты - 10% pH 7,3-8,2; Азот (N) 1,5-2,5 Калий (К20) 2,5-3,5 Фосфор (P205) 0,9-1,0; Кальций (Ca) 0,52 Сера (S) 3 Кремний Si 1,5.
		li.block-list
			img(src="img/3.png" width="30px" height="30px" alt="leaves-image")
			span Массовая доля микроэлементов (в том числе в хелатной форме) %: Fe 0,28 Cu 0,0025 Zn 0,0052 Mn 0,004 Mo 0,0002 Мд 0б36 В 0б0053 Cr 0,007 Co 0,006 Se 0,003
	img.block_img.block1_img(src="img/13.png").block1_img--bottom

.block.block2 Содержание 10% гуминовых веществ
	img.block_img.block1_img(src="img/4.png" alt="line")

.block.block3 При применении экономим до 40% на минералах и до 15% пестицидов
	img.block_img(src="img/5.png" alt="line") 

.block.block4 Борьба с загрязнением почвы
	img.block_img(src="img/6.png" alt="line") 

.block.block5 Ускорение времени созревания
	img.block_img(src="img/7.png" alt="line") 

.block.block6 Борьба с засухой
	img.block_img(src="img/8.png" alt="line") 

.block.block7 Укрепление корневой системы
	img.block_img(src="img/9.png" alt="line") 

.block.block8 Увеличение иммунитета растений 
	img.block_img(src="img/10.png" alt="line") 

.block.block9 Улучшение экологичности
	img.block_img(src="img/11.png" alt="line") 

