//- <script src="libs/fullpage/fullpage.js"></script>
<script src="libs/jquery/jquery-3.3.1.min.js"></script>
//- <script src="libs/owl-carousel/owl.carousel.min.js"></script>
<script src="js/main.js"></script>
<script src="libs/animate-number/jquery.animateNumber.min.js"></script>
animate-number
//- <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>