.header-content.container
	.logo-title-wrapper
		img(src="img/logo.png", alt="logo")
		h1.header-content__title Hypophys
	.header-content__main-container
		.clicker
			//- .header-content__background-container


			//- //закрыто для реализовки анимации чисел
			//- .header-content__background
			//- 	img(src="img/molecular-net.png" alt="logo")
		
			//- include _float-elements-products
