nav.navigation-wrapper
	a(href="#")
		.logo
			img(src="img/logo.png", alt="logo", width="50px", height="auto")
	
	ul.navigation
		li.navigation__item
			a(href="#products").navigation__link Продукты
		li.navigation__item
			a(href="#reglament").navigation__link Регламент применения
		li.navigation__item
			a(href="#experience").navigation__link Опыт
		li.navigation__item
			a(href="#company").navigation__link Компания
		li.navigation__item
			a(href="#mass-media").navigation__link СМИ о нас
		li.navigation__item
			a(href="#shop").navigation__link Магазин

	.phone
		p +7 (495) 324 44 43
			img(src="img/phone.svg", alt="phone")
	.menu-btn
		span
