.dots-container
		.dot.dot--active 
			.dot-title.dot-title--active Продукты
		.dot
			.dot-title Регламент применения
		.dot
			.dot-title Опыт
		.dot
			.dot-title Компания
		.dot
			.dot-title СМИ о нас
		.dot
			.dot-title Магазин

