.dots-container
		.dot.active
		.dot
		.dot
		.dot
		.dot
		.dot

//- Продукты
//- 			Регламент применения
//- 		li.navigation__item
//- 			a(href="#").navigation__link Опыт
//- 		li.navigation__item
//- 			a(href="#").navigation__link Компания
//- 		li.navigation__item
//- 			a(href="#").navigation__link СМИ о нас